.navbar {
  width: 100%;
  background-color: black;
  color: white;
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.nav-item a {
  color: white;
  font-weight: bold;
}

.nav-btn button {
  margin-right: 2px;
  border-radius: 0;
  background-color: slateblue;
  color: white;
  font-weight: bold;
  border: none;
}

#login-btn {
  width: 200px;
  border-radius: 0;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: none;
}
